* {
    margin: 0;
    padding: 0;
}

.container1 {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "sidebar navbar"
    "sidebar main-container";
    height: 100vh;
}


.side-bar {
    grid-area: sidebar;
    background-color: #0ea5e9;

    display: grid;
    grid-template-rows: 40px auto;
    grid-template-areas: "title"
                        "menu"
                        "settings-menu";
    padding-left: 10px;
    gap: 2rem;

    align-content: start;
    align-items: start;
}

.side-title {
    grid-area: title;

    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
    grid-gap: 4px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight:  bold;
    color: white;
    padding-top: 10px;
}

.side-title svg{
    width: 35px;
    height: 35px;
    margin-right: 8px;
}

.principale-menu {
    grid-area: menu;

    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 5px;
}

.settings-menu {
    grid-area: settings-menu;

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;

}

.menu-item {
    display: grid;
    grid-template-columns: 25px 1fr;
    align-items: center;
}
.menu-item a {
    text-decoration: none;
    color: white;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
}
.menu-item svg {
    width: 20px;
    height: 20px;

    padding: 0;
    margin: 0;
}

.menu {
    border: 1px solid green;
}





.nav-bar {
    grid-area: navbar;

    background-color: #f0f9ff;
    box-shadow: 3px 3px 12px #37415118;
    display: grid;
    
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "nav1 nav2"
                        "nav3 nav4";
    gap: .5rem;
}

.nav {
    padding-left: 10px;
    padding-right: 10px;
    align-self: center;
}

.nav-1 {
    grid-area: nav1;

    display: grid;
    grid-template-columns: 20px auto;
    grid-gap: .8rem;
}

.nav-1 input {
    border: 2px solid transparent;
    padding-left: 0.5rem;
    outline: none;
    overflow: hidden;
    background-color: #e2e8f0;
    border-radius: 10px;
    max-width: 50%;
}

.nav-2 {
    grid-area: nav2;

    display: grid;
    grid-template-columns: 30px 80px auto;
    gap: 0.625rem;
    align-items: center;
    justify-content: right;
}

.nav-2 svg {
    width: 30px;
    height: 30px;
}
.image-logo {
    width: 80px;
    height: 80px;
}

.image-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

.nav-2 span{ 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.nav-3 {
    grid-area: nav3;

    display: grid;
    grid-template-columns: 4.5rem auto;
    grid-template-rows: auto;
    gap: 10px;
    justify-content: start;
    align-items: center;
    justify-items: start;
}

.nav-3 span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
} 

.nav-4 {
    grid-area: nav4;
    justify-self: right;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    align-items: center;
    justify-content: stretch;
}

.nav-4 a {
    width: 90px;
    height: 30px;

    display: inline-block;
    text-align: center;
    line-height: 30px;

    text-decoration: none;
    color: white;
    border: 2px solid transparent;
    outline: none;
    border-radius: 18px;

    background-color: #0ea5e9;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}












.main-container  {
    grid-area: main-container;

    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    grid-template-areas: "container side-container";
    gap: 1.25rem;

    padding: 10px;
    align-content: start;
}

.container {
    grid-area: container;

    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1rem auto auto auto;

    gap: 1.7rem;
    align-content: start;
}

.container h2 {
    grid-column: span 2;
}

.card {
    border-radius: 8px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);

    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;

    min-height: 8.5rem;

    min-width: 18.75rem;


    text-align: left;
    padding-right: 10px;
    justify-content: center;
    align-self: start;
}

.content {
    display: grid;
    grid-template-rows: auto 1fr;

    justify-content: center;
    align-items: center;
}

.card-padding {
    grid-row: span 2;
    width: 6px;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: #f97316;

}

.commnds{
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;

    justify-self: end;
}

.commnds svg{
    width: 18px;
    height: 18px;
}

.side-container {
    grid-area: side-container;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto 1fr;

    align-items: start;
}

.announcement {
    text-align: start;
    padding: 10px;

    border: 1px solid transparent;
    border-radius: 8px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);

    display: grid;
    grid-template-rows: repeat(3, 1fr);

    align-self: start;
}
.announcement hr {
    height: 1px;
}

.main-trending{
    align-self: start;
}
.trending {
    border: 1px solid transparent;
    border-radius: 8px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
    
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 1px;

    align-items: start;
    justify-items: start;

}

.trend {
    display: grid;
    grid-template-columns: auto 1fr;

    justify-content: center;
    align-items: center;

    align-self: start;
}

.trend span {
    font-weight: bold;
}